@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style: none;
  
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
:root {
  --color-primary:#9c89b8;
  --color-secondary:#f0a6ca;
  --color-third:#efc3e6;
  --color-fourth:#f0e6ef;
  --color-fifth:#b8bedd;
  --color-white:#ffffff;
  }
 /*HEADER */
 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--color-fourth);
    position: fixed;
    width: 100%;
    z-index: 99999999999999999999999999;
    
   }
   header > img {
    height: 100px;
    padding-right: 10px;
   }
   header > nav {
    display: flex;
    flex: 1;
    justify-content: center;
     }
     
   .nav-list {
    display: flex;
    width: 100%;
    
  }

  nav a { 
    display: block;
    padding: 20px 0;
    color: var(--color-primary);
  }
  nav a:hover {
    background-color: var(--color-secondary);
   }
  nav li {
    flex: 1;
    text-align: center;
  }
  /*menu desaparece */
  .menu {
    display: none;
    width: 30px;
    height: 30px;
  }

 
  /* HERO */
  #hero {
    display: flex;
    padding:  0px 60px;
    padding-top: 150px;
   align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  
  }
  #hero > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 400px;
    align-items: flex-start;
  }
  
   h1 {
    margin: 0;
    font-size: 50px;
    text-transform: capitalize;
    color: var(--color-primary)
  }
  
 #hero > img {
   width: 400px;
   animation: kenburns-top-right 5s ease-out infinite both;
   }

  #hero > div > p {
    font-size: 3 rem;
    color: var(--color-secondary);
  }
  button {
    all: unset;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: var(--color-primary);
    border: none;
   cursor: pointer;
  }
  button:hover {
    background-color: var(--color-secondary);
    
  }

  /* tienda-galeria */
#tienda {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--color-fourth);
}

 h2 {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 40px;
}

 .gallery-container {
 
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  list-style-type: none;
  gap: 20px;
}
.gallery-container > li {
    flex-basis: 250px;
    flex-grow: 1;
   
  }
.gallery-container > li > img {
  width: 100%;
}

 /* about */
#about-container {
text-align: center;
  padding: 50px;
  height: 70vh;
  position: relative;
background-image: url(./assets/wallpaper.jpg);
background-repeat: no-repeat;
background-position: center top;
background-attachment: fixed;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 20px;


}
#about-container h2 {
  
  color: var(--color-secondary);
  position: relative;
}
#about-container p {
  position: relative;
  color: var(--color-white); 
}
#about-container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .55);
}

	


/*formulario*/

  .form-container{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--color-primary);
    
  }
  h3 {
    text-align: center;
    color: var(--color-primary);
  }
  .form-grupo {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
  }
  
  .form-grupo > input {
    padding: 8px;
    border: 2px dotted var(--color-primary);
    border-radius: 5px;
  }
  .form-grupo > #text {
    width: 500px;
    height: 200px;
  }
  .form-grupo > button {
    color: var(--color-white);
  }
  /*footer*/
  footer{
    background-color: var(--color-primary);
  }
  h4 {
    text-align: center;
    color: var(--color-white);
    padding-bottom:10px;
  }
  .footer-container {
   bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 50px;
  justify-content: center;
  color: var(--color-white);
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
   text-align: center;
    
  }
  
  .footer {
    flex-grow: 1;
    width: 250px;
  
  }
  
  .footer  > li:first-child {
    font-weight: bolder;
   
  }

  /*medias query */


  @media screen and (max-width: 920px) {
    h2 {
      
      font-size: 25px;
      text-align: center;
    }
    header > nav {
      display: none;
    }
    .menu {
      display: block;
    }
     #hero {
     
      padding-top: 150px;
    }
    #hero > div {
      width: 300px;
      align-items: center;
    }
    #hero > div > h1 {
     text-align: center;
    }
    #hero > div > p {
      text-align: center;
    }
    #hero > img {
      width: 350px;
    }
   
  }
  @media screen and (max-width: 600px) {
 
    .form-grupo > #text {
      width: 300px;
      height: 200px;
    }
}
@keyframes kenburns-top-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 16%;
  }
  100% {
    transform: scale(1.25) translate(20px, -15px);
    transform-origin: right top;
  }
}

 
